@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");


body {
  font-family: 'Lora', serif;
  font-size: 15px;
  margin: 0px;
}
h1, h2, h3 {
  font-family:'Canela';
  font-weight: bolder ;
  color: #B22222;
  text-align: center;
}
a {
  text-decoration: none;
  ;
}
p {
  margin: 20px auto; 
  max-width: 800px; 
  line-height: 1.6; 
  text-align: center; 
  color: black;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 40px; /* Centre le formulaire et ajoute un espace avec les autres éléments */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #0056b3;
}
