.banner {
    background-image:url("../../images/banner.png");
    padding: 100 px 0px;
    background-size: cover;
    background-position: center;
    height: 300px; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    background-color: white;
}

.banner h1 {
  font-size: 40px; 
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  margin: 2px;
}

.banner h2 {
  font-size: 20px;
  font-weight: bolder;
  
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 35px;
  }
  .banner h2 {
    font-size: 20px;
  }
}
